@import "../../styles/variables.scss";

.more-posts-button {
    text-align: center;

  button {
    @include button;
  }
}

.posts-component {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px 10px;
  padding: 1.5rem;
}