$primary-color: #17bebb;
$secondary-color: #023c40;
$tertiary-color: #b57ba6;
$success-color: #8de969;
$danger-color: #e4572e;
$background-color: #B6F7F5;

$body-font: 'Assistant', sans-serif;
$title-font: 'Gaegu', cursive;
