$primary-color: #17bebb;
$secondary-color: #023c40;
$tertiary-color: #b57ba6;
$success-color: #8de969;
$danger-color: #ff3c00;
$background-color: #ecf8f8;

$body-font: 'Assistant', sans-serif;
$title-font: 'Gaegu', cursive;

@mixin breakpoint($min-width) {
  @media only screen and (min-width: $min-width) {
    @content;
  }
}

@mixin breakpoint-small {
  @include breakpoint(768px) {
    @content;
  }
}

@mixin breakpoint-large {
  @include breakpoint(1280px) {
    @content;
  }
}

@mixin post-layout {
  border: 1px solid $primary-color;
  background-color: white;
  margin: auto;
  border-radius: 5px;
  box-sizing: border-box;
  min-height: 200px;

  @media only screen and (max-width: 767px) {
    min-width: 300px;
    max-width: 500px;
  }

  @include breakpoint-small() {
    flex: 1 0 45%;
  }

  @include breakpoint-large() {
    flex: 1 0 30%;
  }
}

@mixin button {
  background-color: $success-color;
  border-radius: 20px;
  padding: 0.6rem 0.75rem;
  opacity: 0.7;
  border: none;
  font-size: 1.1rem;
  margin: 0.3rem;

  &:hover {
    background-color: $primary-color;
  }
}
