$primary-color: #17bebb;
$secondary-color: #023c40;
$tertiary-color: #b57ba6;
$success-color: #8de969;
$danger-color: #e4572e;
$background-color: #B6F7F5;

$body-font: 'Assistant', sans-serif;
$title-font: 'Gaegu', cursive;

@mixin breakpoint($min-width) {
    @media only screen and (min-width: $min-width) {
      @content;
    }
  }
  
  @mixin breakpoint-small {
    @include breakpoint(768px) {
      @content;
    }
  }
  
  @mixin breakpoint-large {
    @include breakpoint(1280px) {
      @content;
    }
  }

  @mixin post-layout {
    border: 1px solid $primary-color;
    background-color: white;
    width: 50%;
    min-width: 400px;
    max-width: 500px;
    min-height: 100px;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-sizing: border-box;
  }