@import "../../../styles/variables.scss";

.selfcare,
.trivia,
.break {
  @include post-layout;
  padding: 1rem;
}

.image {
    @include post-layout;
    padding: 0;

    div {
        padding: 0;
        margin: 0;
    }
}

  h3 {
    font-family: $title-font;
    font-size: 2rem;
    margin: 1rem 0;
  }

  .source-field {
    font-size: 0.9rem;

    strong {
      color: $primary-color;
    }

    a {
      text-decoration: none;
      color: $secondary-color;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .buttonDiv {
    display: flex;
    justify-content: space-evenly;

    .likeButton {
      background: none;
      border: none;
      color: grey;
      width: 40px;
      height: 40px;
      margin-top: 10px;
    }

    .hideButton {
      background: none;
      border: none;
      color: grey;
      width: 40px;
      height: 40px;
      margin-top: 10px;
    }

  }


  // .likeButton:focus {
  //   color: $tertiary-color;
  // }

  .post-img {
    width: 100%;
    margin: 0;
    display: block;
  }

